
.logo-container {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.logo-container > .hari-logo {
	margin-top: 0px;
	width: 500px;
}

.ui.pointing.secondary.menu {
	margin: auto;
	margin-top: 50px;
	width: 700px;
}

.ui.pointing.secondary.menu .item {
	display: block;
	text-align: center;
	text-transform: uppercase;
	width: 50%;
}

.program .accordion-container {
	display: flex;
	margin-top: 50px;
	margin-bottom: 500px;
	width: 100%;
}

.program .accordion-container > .ui.accordion {
	margin: auto;
}

.list > .ui.middle.aligned.divided.list {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 500px;
	width: 300px;
}

.list > .ui.middle.aligned.divided.list > .item {
	height: auto;
	padding: 10px 0;
	text-align: center;
	visibility: visible;
}
